mixin products()
  +b.products&attributes(attributes)
    .container
      +e.SELECT.select.js-product-select
        each dog in getData('dogs')
          - var isSelected = !!dog[2];
          option(value=dog[1] selected=isSelected)!= dog[1]

      +e.navigation
        each dog in getData('dogs')
          - var activeClass = dog[2] ? 'is-active' : '';
          +e.DIV.button(class=activeClass).js-dog-button
            +e.IMG.dog(src=dog[0])
            +e.P.weight!= dog[1]
            +icon('dog-bg').__icon

    +e.products
      each product in getData('products')
        - var modificator = product[3];
        - var activeClass = product[4] ? ' is-active' : '';
        +e.item(class=activeClass)
          +e.wrapper
            +product(product[0], product[1], product[2])(class=modificator + activeClass).__product.js-dog-button

